[phases.setup]
nixPkgs = ["nodejs_22"]

[phases.install]
cmds = [
  "npm ci --include=optional",
  "npm install --no-save --force lightningcss-linux-x64-gnu@1.30.1 @tailwindcss/oxide-linux-x64-gnu@4.1.13",
]

[phases.build]
cmds = ["npm run build"]

[start]
cmd = "npm run start"

